<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<%- include('partials/header') %>

    <div style="text-align: center; margin: 20px 0;">
        <img src="/images/express-js.jpg" alt="Express JS" style="max-width: 100%; height: auto;">
    </div>

<%- include('partials/footer') %>

</body>
</html>